#citations
snippet inbook
	@inbook{${1},
		title={${2}},
		author={${3}},
		year={${4}},
		publisher={${5}}
	}

snippet article
	@article{${1},
		title={${2}},
		author={${3}},
		year={${4}},
		journal={${5}}
	}

snippet inproc
	@inproceedings{${1},
		title={${2}},
		booktitle={${3}},
		year={${4}},
		organization={${5}}
	}

