# documentation
snippet summ
	/// <summary>
	/// ${0}
	/// </summary>

snippet summfn
	/// <summary>
	/// <para>
	/// ${0}
	/// </para>
	/// </summary>
	/// <param name="${1}">${2}.</param>

snippet summexp
	/// <summary>
	/// ${0}
	/// </summary>
	/// <exception cref="${1}">
	/// ${2}
	/// </exception>

# for loops
snippet for
	for(int i = 0; i < ${0}; i++)
	{
		${1}
	}

snippet foreach
	foreach(${0} in ${1})
	{
		${2}
	}

# print statements
snippet cout
	Console.Out.WriteLine(${0});
